<div>
    <ul>
        <% for(var i=0; i < products.length; i++) { %>
        <li> <%= products[i].id %> - <%= products[i].name %>   <button onClick="show()">order</button></li>
        <% } %>   
    </ul>
</div>